body {
    background-color: whitesmoke;
    margin: auto;
    width: 50%;
}

header {

}

.inizio{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

#logo {
    height: 100px;
    
    line-height: 90px;
    vertical-align: middle;
}

.logo-text{
    font-size: 30px;
}



.container{
    width: 100%;
    background-color: white;
    margin-top: 40px;
}

nav{
    padding-top: 10px;
    padding-left: 20px;
}

button{
    color: lightgray;
}

.uno{
    background-color: black;
}