body {
    background-color: whitesmoke;
    margin: auto;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {

}

.inizio{
    background-color: white;
    width: 100%;
}

#logo {
    height: 100px;
    
    line-height: 90px;
    vertical-align: middle;
}

.logo-text{
    font-size: 30px;
}



.nav{
    width: 100%;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;

}

nav{
    padding-top: 10px;
    padding-left: 20px;
}

button{
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.uno{
    background-color: lightseagreen;
    border-color: lightseagreen;
    border: 1px solid lightseagreen;
    color: white;
}

.due{
    background-color: white;
    border-color: lightslategray;
    border: 1px solid lightslategray;
    color: lightgray;
}

li{
    color: rgb(56, 56, 56);
    font-weight: bold;
    font-size: 30px;
}

.lista-titolo:before{
    content: '\25BC';
}