body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px ;
}

header {

}

.inizio{
    background-color: white;
    width: 100%;
    border-radius: 5px;
}

#logo {
    height: 100px;
    
    line-height: 90px;
    vertical-align: middle;
}

.logo-text{
    font-size: 30px;
}

main{
    margin: auto;
    width: 50%;
}

.nav{
    width: 100%;
    background-color: white;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 10px;

}

nav{
    padding-top: 10px;
    padding-left: 20px;
}

button{
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.uno{
    background-color: lightseagreen;
    border-color: lightseagreen;
    border: 1px solid lightseagreen;
    color: white;
}

.due{
    background-color: white;
    border-color: lightslategray;
    border: 1px solid lightslategray;
    color: lightgray;
}

.lista{
    width: 97,5%;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

li{
    color: rgb(56, 56, 56);
    font-size: 20px;
    list-style-type:none;
    line-height: 30px;
    vertical-align: middle;
}

.lista-titolo:before{
    content: '\25BC';
}

.symbolp{
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px 5px;
    color: green;
    font-size: small;
}

.symboln{
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px 5px;
    color: red;
    font-size: small;
}